* {
	margin: 0;
	padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
	align-items: center;
	overflow: hidden;
}

canvas {
	width: 1024px;
	height: 1024px;
}